body{

font-family: Arial, sans-serif;

margin:40px;

background:#f8f9fa;

}


header{

text-align:center;

padding:40px;

}



section{

margin:30px;

}



.card{

background:white;

padding:20px;

margin:20px;

border-radius:15px;

}



a{

text-decoration:none;

}



footer{

text-align:center;

margin-top:50px;

}
